body{
    background-color: #172B4B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}
#login{
    background-color: #B2C8F7;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
}

/*#register{
    background-color: #B2C8F7;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 500px;
} */
.formGroup {
    margin-bottom: 15px;
}
.labelregis{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #172B4B;
}
.inputregis{
    width: 94%;
    padding: 10px 12px;
    border: 1px solid #E9FFFF;
    border-radius: 6px;
    font-size: 14px;
    background-color: #E9FFFF;
}
.loginTem {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #172B4B;
}
.loginSend {
    color: #172B4B;
    text-decoration: none;
    font-weight: 500;
}
.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #172B4B;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #112649;
}