<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/fornecedores.css">
    <script src="/JavaScript/fornecedores.js"></script>
</head>
<body>

    <div id="principal">
        
        <div id="perfil">
            <div id="pfp">
                <img src="/imagens/imagens-fornecedores/foto.jpg" alt="" id="foto">
            </div>
            <div id="banner">
                <img src="/imagens/imagens-fornecedores/hq720.jpg" alt="" id="bannerfoto">
            </div>
        </div>
        <div id="produto">
            <div>
                <div id="parteum">
                    <div id="superior">
                        <div class="formGroup">
                            <p class="labelregis">Nome:</p>
                            <input class="inputregis" type="text">
                        </div>
                        <div class="formGroup">
                            <p class="labelregis">Local:</p>
                            <input class="inputregis" type="text">
                        </div>
                    </div>
                    <div id="descricao">
                        <p class="labelregis">Descrição:</p>
                        <input type="text" id="inputDesc">
                    </div>
                </div>
                <div id="inferior">
                    <div id="addProduto">
                        <div id="testeaddprod"><img src="/imagens/imagens-fornecedores/addsimbol.png" alt="" id="imgaddprod">
                        <p id="labelAddProd">Adicionar Produto</p></div>
                    </div>
                    <div id="produtos">
                        <div class="teste1">
                            <div class="prod1"><img src="/imagens/imagens-fornecedores/labubu.webp" alt="" class="imgProd1"></div>
                            <p class="labelProd">Labubu</p>
                        </div>
                        <div class="teste1">
                            <div class="prod1"><img src="/imagens/imagens-fornecedores/kit120canetinha.webp" alt="" class="imgProd1"></div>
                            <p class="labelProd">Kit 120 Caneta</p>
                        </div>
                        <div class="teste1">
                            <div class="prod1"><img src="/imagens/imagens-fornecedores/bobbiegoods.jpeg" alt="" class="imgProd1"></div>
                            <p class="labelProd">Bobbie Goods</p>
                        </div>
                        <div class="teste1">
                            <div class="prod1"><img src="/imagens/imagens-fornecedores//Imagem do WhatsApp de 2025-07-28 à(s) 11.54.01_abf293a9.jpg" alt="" class="imgProd1"></div>
                            <p class="labelProd">Henrique</p>
                        </div>
                        <div class="teste1">
                            <div class="prod1"><img src="/imagens/imagens-fornecedores//i_m_bi_production_blanks_vdbwo35fw6qtflw9kezw_1565806151,c_104_131_830x,bc_000000,s_630,q_90.jpg" alt="" class="imgProd1"></div>
                            <p class="labelProd">Produto 1</p>
                        </div>
                        <div class="teste1">
                            <div class="prod1"><img src="/imagens/imagens-fornecedores//i_m_bi_production_blanks_vdbwo35fw6qtflw9kezw_1565806151,c_104_131_830x,bc_000000,s_630,q_90.jpg" alt="" class="imgProd1"></div>
                            <p class="labelProd">Produto 2</p>
                        </div>
                        <div class="teste1">
                            <div class="prod1"><img src="/imagens/imagens-fornecedores//i_m_bi_production_blanks_vdbwo35fw6qtflw9kezw_1565806151,c_104_131_830x,bc_000000,s_630,q_90.jpg" alt="" class="imgProd1"></div>
                            <p class="labelProd">Produto 3</p>
                        </div>
                        <div class="teste1">
                            <div class="prod1"><img src="/imagens/imagens-fornecedores//i_m_bi_production_blanks_vdbwo35fw6qtflw9kezw_1565806151,c_104_131_830x,bc_000000,s_630,q_90.jpg" alt="" class="imgProd1"></div>
                            <p class="labelProd">Produto 4</p>
                        </div>
                        <div class="teste1">
                            <div class="prod1"><img src="/imagens/imagens-fornecedores//i_m_bi_production_blanks_vdbwo35fw6qtflw9kezw_1565806151,c_104_131_830x,bc_000000,s_630,q_90.jpg" alt="" class="imgProd1"></div>
                            <p class="labelProd">Produto 5</p>
                        </div>
                        <div class="teste1">
                            <div class="prod1"><img src="/imagens/imagens-fornecedores//i_m_bi_production_blanks_vdbwo35fw6qtflw9kezw_1565806151,c_104_131_830x,bc_000000,s_630,q_90.jpg" alt="" class="imgProd1"></div>
                            <p class="labelProd">Produto 6</p>
                        </div>
                        <div class="teste1">
                            <div class="prod1"><img src="/imagens/imagens-fornecedores//i_m_bi_production_blanks_vdbwo35fw6qtflw9kezw_1565806151,c_104_131_830x,bc_000000,s_630,q_90.jpg" alt="" class="imgProd1"></div>
                            <p class="labelProd">Produto 7</p>
                        </div>
                        <div class="teste1">
                            <div class="prod1"><img src="/imagens/imagens-fornecedores//i_m_bi_production_blanks_vdbwo35fw6qtflw9kezw_1565806151,c_104_131_830x,bc_000000,s_630,q_90.jpg" alt="" class="imgProd1"></div>
                            <p class="labelProd">Produto 8</p>
                        </div>
                        <div class="teste1">
                            <div class="prod1"><img src="/imagens/imagens-fornecedores//i_m_bi_production_blanks_vdbwo35fw6qtflw9kezw_1565806151,c_104_131_830x,bc_000000,s_630,q_90.jpg" alt="" class="imgProd1"></div>
                            <p class="labelProd">Produto 9</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</body>
</html>