<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logar</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/JavaScript/login.js" defer></script>
</head>
<body>
    <form id="login" method="POST" action="/logar">
        <div class="formGroup">
            <label for="documento" class="labelregis">CPF/CNPJ:</label>
            <input type="text" class="inputregis" id="documento" name="documento" 
                   placeholder="XXX.XXX.XXX-XX ou XX.XXX.XXX/0001-XX" 
                   oninput="formatarDocumento(this)" maxlength="18" required>
        </div>
        <div class="formGroup">
            <label for="senha" class="labelregis">Senha:</label>
            <input id="senha" name="senha" class="inputregis" type="password" 
                   placeholder="Digite sua senha" required minlength="6">
        </div>
        <div class="loginTem">
            Não tem uma conta? <a class="loginSend" href="/registro">Registre-se</a>
        </div>
        <div class="loginTem">
            <a class="loginSend" href="/fornecedores">Fornecedores</a>
        </div>
        <button type="submit" class="submit-btn">ENTRAR</button>
    </form>
</body>
</html>