<!DOCTYPE html>
<html>
<head>
    <title>Mensagens - Teste</title>
</head>
<body>
    <h1>Mensagens</h1>
    <p>Usuario ID: <%= usuario.id_usuario %></p>
    <p>Usuario Tipo: <%= usuario.tipo %></p>
    
    <script>
        const USER_ID = "<%= usuario.id_usuario %>";
        const USER_TIPO = "<%= usuario.tipo %>";
        console.log("User ID:", USER_ID);
        console.log("User Tipo:", USER_TIPO);
    </script>
</body>
</html>